#lmi-data-preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #000;
    z-index: 100500;
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}

#lmi-data-preloader .spinner {
    display: block !important;
    width: 48px;
    height: 48px;
    position: absolute;
    left: 50%;
    top: 50%;
    background: url('../img/ajax-loader.gif') no-repeat 50% 50%;
    margin: -16px 0 0 -16px;
    visibility: visible !important;
}